@font-face {
  font-family: 'Lato';
  src: local('Lato Semibold'), local('Lato-Semibold'), url('../fonts/latosemibold.woff2') format('woff2'), url('../fonts/latosemibold.woff') format('woff'), url('../fonts/latosemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body{
  scroll-behavior: smooth;
}
.carousel {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 785px;
  overflow: hidden;
}
.carousel img{
  width: 100%;
}

.carousel-indicators li{
  background: #fff;
  margin:0 13px;
}

.carousel-indicators .active{
  width: 18px;
  height: 18px;
  background: radial-gradient(circle,#fff 5px,rgba(0,0,0,0) 5px, rgba(0,0,0,0) 8px,#fff 8px);
  transform: translateY(3px);
  margin:0 13px;
  
}
.navbar-brand{
  position: absolute;
  top: 0;
  left: 50%;
  transform:translate(-50%, 0);
  height: 100px;
  z-index: 99;
}

.navbar-collapse{
  border: none;
  box-shadow: none;
}

.nav>li>a:focus, .nav>li>a:hover{
  color: #fff;
  background: none;
}
.nav>li>a {
  position: relative;
}
.nav>li>a:before {
  position: absolute;
  content: "";
  height: 0;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #000;
  transition: height .1s linear;
  z-index: -1;
}

.nav>li>a:hover:before{
  height: 100%;
}
.navbar-toggle .icon-bar{
  background: #000;
  width: 30px;
}
nav.navbar{
  min-height: 110px;
}
.navbar-nav>li>a{
  text-align: center;
  padding-top: 51px;
font-family: Lato;
color: #000;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
}

.navbar-nav .active a{
  background-color: #000;
  color: #ffffff;
}
.navbar-toggle .icon-bar{
  width: 45px;
}
.navbar-toggle .icon-bar+.icon-bar {
  margin-top: 10px;
}
.navbar-toggle{
  margin-right: 15px;
  margin-top: 19px;   
}

.main-page .nav>li>a:before {
  position: absolute;
  content: "";
  height: 0;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
  transition: height .1s linear;
  z-index: -1;
}
.main-page .navbar-nav>li>a{
  text-align: center;
  padding-top: 51px;
font-family: Lato;
color: #fff;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
}
.main-page .nav>li>a:hover{
  color: #000;
  background-color: #fff;
}
.main-page .navbar-nav .active a{
  background-color: #fff;
  color: #000;
}


/* страница Команда */
.persons{
  margin-top: 158px;
  border: 2px solid #000000;

}
.persons img {
  margin: -65px 0;
}

.persons+.persons {
  margin-top: 276px;
}
.persons_name{
  padding: 59px 0;
}
.persons_name h3 {
font-family: Lato;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 36px;
}
.persons_name p {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
}
footer{
  background-color: #000000;
  margin-top: 127px;
  padding: 30px 0;
  color: #ffffff;

}

.my-margin{
  margin-bottom: 20px;
}
.link{
  display: block;
  width: 35px;
  height: 35px;
  background: url("../img/facebook.png");
}
.contacts{
  font-family: Lato;
  font-style: normal;
  padding-left: 50px;
}

.contacts h4{
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.contacts a,.contacts p {
  display: block;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.navbar-toggle .icon-bar{
  transform-origin: 0 0 0;
  transition: all 1s ease;
}
/* 
.navbar-toggle .icon-bar+.icon-bar+.icon-bar{
  transform-origin: 100% 0 0;
} */

.navbar-toggle[aria-expanded="true"] .icon-bar{
  transform: rotate(33deg);
}

.navbar-toggle[aria-expanded="true"] .icon-bar+.icon-bar{
  opacity: 0;
  transform: scaleX(0);
}

.navbar-toggle[aria-expanded="true"] .icon-bar+.icon-bar+.icon-bar{
  transform: rotate(-33deg);
  opacity: 1;
}

/* страница Про нас */

.about{
  background-color:#000;
  min-height: 404px;
}
.about img{
  padding-top: 115px;
}
.title{
  margin-top: 50px;
}
.black{
  background-color:#000;
  min-height: 504px;
}
.black img{
  padding-top: 90px;
  position: relative;
}
.black::before{
  position: absolute;
  content: "";
  background: url(../img/gradient.png);
   top: 0;
  left: 0;
  width: 505px;
  height: 208px;

}
.title h2{
font-family: Lato;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 43px;
letter-spacing: 0em;
text-align: left;
}
.title p{
  font-family: 'Roboto', sans-serif;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 26px;
letter-spacing: 0.01em;
text-align: left;
}

.tihi_head{
  position: relative;
}

.tihi_head:before{
  content: "";
  right: 0;
  top: 75px;
  position: absolute;
  height: 1px;
  width: calc(100% - 80px);
  background: #000;
}

div.about_text p{
  margin-top: 50px;
  padding: 0;
  line-height: 30px;
}

.about_text p+p{
  margin-top: 50px;

}

.gen{
  margin-top: 77px;
}

.gen a {
  display: block;
  color: #000;
  font-family: Lato;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 43px;
position: relative;
text-decoration: none;
padding: 26px 68px 53px 55px;
}
.gen a::after {
  position: absolute;
  content: "";
  background: url(../img/arrow.png);
  width: 171px;
  height: 16px;
  bottom: 30px;
  left: 55px;
}

.gen_news a {
  background-color:#000;
  color: #fff;
  padding: 26px 68px 53px 55px;
}
.gen_news a::after {
  position: absolute;
  content: "";
  background: url(../img/arrow2.png);
  width: 171px;
  height: 16px;
  bottom: 30px;
  left: 55px;
}
/* страница Услуги */
.service{
  position: relative;
}
.service:before {
  content: "";
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.42) 2.93%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  left:15px;
  right: 15px;
  top: 0;
  bottom: 0;
}
.services h2 {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    position: absolute;
    color: #fff;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    z-index: 10;
}

.services_link{
  position: absolute;
  bottom:0;
  left: 15px;
  right: 15px;
  background: #f1f1f1;
  padding: 48px 30px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  cursor: pointer;
  text-decoration: none;
  display: none;
}

.service:hover .services_link{
  display: block;
}
.services_link:before{
  content: "";
  position: absolute;
  bottom: 31px;
  left: 30px;
  height: 8px;
  width: 101px;
  background: url('../img/arrow3.png') no-repeat 100%;
}

.services_link:hover{
  color: #000000;
  text-decoration: none;
}
.practical div {
  background: rgba(220, 219, 225,.25);
  margin-bottom: 30px;
}

.main-page .practical div {
  background: #fff;
}

.practical {
  margin-bottom: 8px;
  margin-top: 7px;
  height: 0;
  overflow: hidden;
  transition: all 1s ease;
}

.practic1.open, .practic2.open, .practic3.open, .practic4.open{
  height: 480px;
  }

.practical h4 {
  font-family: Lato;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 34px;
letter-spacing: 0em;
}
.practical p {
padding-top: 20px;
font-family: 'Roboto', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
}

.practical_link {
  display: block;
  margin: 100px 0 58px 0;
  color: #000;
  position: relative;
  text-decoration: none;
  padding: 5px 5px 16px 0;
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 24px;
cursor: pointer;
line-height: 28px;
}
.practical_link::before{
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: url(../img/arrow3.png);
  width: 110px;
  height: 8px;
}
.practical_link:hover{
  text-decoration: none;
  color: #000;
}
.practical img {
padding-bottom: 42px;
}

/* страница Контакты */

.contact{
  background: #000;
  font-family: Lato;
  font-style: normal;
  color: #fff;
  padding-bottom: 160px;
  }
  .contact img{
    display: block;
  }
.contact h4{
padding-top: 160px;
font-size: 36px;
font-weight: 700;
line-height: 75px;
}

.contact a,.contact p {
  display: block;
  color: #fff;
 font-size: 24px;
font-weight: 400;
}
.in_contact {
  line-height: 100px;
}
.contact_link{
  position: relative;
  text-decoration: none;
  padding: 50px 5px 10px 0 ;
}
.contact_link, .contact_link:hover, .contact_link:active, .contact_link:visited, .contact_link:focus{
  text-decoration: none;
}
.contact_link::before {
  position: absolute;
  content: "";
  background: url(../img/arrow_maps.png);
  width: 168px;
  height: 8px;
  left: 0;
  bottom: 0;
}

/* страница Главная */
.heading{
  margin-top: 213px;
  padding-bottom: 65px;
}

.heading h1+p{
  font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
padding: 50px 0;
color: #FFFFFF;
}
.heading>.col-xs-1{
  margin: 85px 0 0;
}
.link_main:hover{
  text-decoration: none;
  color: #fff;
}
.link_main {
  position: relative;
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #fff;
  padding: 40px 0 20px 0;
}
.link_main:after{
  position: absolute;
  content: "";
  background: url(../img/arrow4.png);
  left: 0;
  bottom: 0;
  width: 112px;
  height: 15px;
}
.main_services{
  background-color: #000;
  padding: 61px 0 41px 0;
}
.services+.services{
  padding-top: 30px;
}

.information{
  padding: 50px 0 66px 0;
}
.information p{
  font-family: 'Roboto', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.01em;
}
.news{
 background:  url(../img/duties_lawyer.png) no-repeat 50%/cover;
  padding: 81px 0 81px 0;
}
.news .container div {
  background: #fff;
  color: #000;
padding: 20px 50px 30px 70px;
min-height: 465px;
}
.news span{
color: #939292;
}
.news h6, .news span{
  font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 22px;
letter-spacing: 0em;
}
.news p{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  min-height: 210px;
}

.custom-margin{
  margin-left: 13%;
}


.news a{
color: #000;
position: relative;
display: block;
font-family: 'Roboto', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 28px;
padding: 70px 50px 40px 70px;
margin: 0 -50px -30px -70px;
}
.news a:before{
  position: absolute;
  content: "";
  background: url(../img/arrow5.png);
  left: 70px;
  bottom: 30px;
  width: 84px;
  height: 8px;
}

.news a:hover:before{
  background: url(../img/white_arrow_mainpage.png);
}
.news a:hover{
  color: #fff;
  text-decoration: none; 
  background: #000;
}

.main-page.link{
  display: block;
  width: 35px;
  height: 35px;
  background: url("img/facebo.png");
}
.main-page h1, .main-page a {
  font-family: Lato;
  font-style: normal;
}

.main-page h1{
 color: #fff;
font-size: 36px;
font-weight: 400;
line-height: 42px;
}
.main-page .about {
  min-height: 343px;
  margin-top: 70px;
}

.main-page footer {
   margin-top: 0; 
  }

  .main-page h3{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 40px;
  }

  .main-page .news_head{
    position: relative;
  }

  .main-page .news_head:before{
    content: "";
    left: 0;
    top: 75px;
    position: absolute;
    height: 1px;
    width: calc(50vw - 515px);
    background: #000;
  }

 .link-in {
   background: url(../img/arrow7.png);
   width: 16px;
    height: 151px;
    padding: 0;
 }

@media screen and (max-width:1199px){
  .main-page .news_head:before{
    width: calc(50vw - 404px);
  }


}

@media screen and (max-width:991px){
  .main-page .news_head:before{
    width: calc(50vw - 313px);
  }

  .custom-margin{
  margin-left: 0;
  }


}

@media screen and (max-width:767px){
  .navbar-brand{
    left: 5%;
    transform:translate(0, 0);
  }

  .persons+.persons {
    margin-top: 156px;
  }
  .main-page .news_head:before{
    width:95px;
  }

  .main-page .heading{
    background: #1f1f1f;
    margin-top: 20px;
  }

  .main-page .navbar{
    background: #c2c2c2;
  }

  .main-page .services img{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .news [class*="col"]+[class*="col"]{
    margin-top: 20px;
  }

  .contacts{
    padding-left: 0;
    margin-top: 35px;
  }

  .services h2{
    top:10%;
    font-size: 18px;
  }

  .services_link{
    padding: 15px 15px 45px;
  }

}